.login_view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    height: 0 auto;
    margin-top: 20px;
    /* border: 5px solid #ffffff; */
    border-radius: 15px;
    /* box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16), 0 5px 6px rgba(0, 0, 0, 0.23); */
    min-width: 250px;
  
}

.login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 50%;
}

.email2{
    width: 200px;
    height: 40px;
    background: #ffffff;
    border-radius: 10px;
    border-color: #3BACB6;
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    margin: 5px;
    text-align: center;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.23);

}
#email::placeholder{
    color:white;
}

.pass{
    width: 200px;
    height: 40px;
    background: #3BACB6;
    border-radius: 10px;
    border-color: #3BACB6;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 5px;
    text-align: center;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.23);
}
#pass::placeholder{
    color:white;

}
    

.btn_login_btn-primary {
    width: 120px;
    height: 40px;
    background: #3BACB6;
    border-radius: 10px;
    border-color: #3BACB6;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 5px;
    text-align: center;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.23);
    }